@model string

@{
    Layout = "_Layout";
    
    
}

<div class = "card bg-danger text-while">
    <h1 class = "card-header">Xin Chào @Model</h1>
    <div class = "card-body">
    <p class = "card-text">
        Bạn Đang TÌm hiểu về MVC Net
    </p>
    </div>
</div>
<hr>

@this.Path
