@model ASPMVC.Models.ProductModel


@{
    var product2 = ViewBag.product as ProductModel;
}

<p>@ViewData["Title"]</p>

<div class = "card bg-warning text-while">
    <h1 class = "card-header">@product2.Name</h1>
    <div class = "card-body">
    <p class = "card-text">
        Giá : @product2.Price
    </p>
    </div>
</div>

